@{
    Layout = null;
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Grid Test</title>
    <link href='https://fonts.googleapis.com/css?family=Lobster+Two|Raleway|Oswald:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://js.arcgis.com/4.6/esri/css/main.css">
    <link rel="stylesheet" href="../Content/beaches.css">
    <script src="https://js.arcgis.com/4.6/"></script>
    <script src="../Scripts/test.js"></script>
</head>

<body>

    <header class="top-bar">
        <a class="social-link" href="/"><i class="fa fa-google-plus"></i></a>
        <a class="social-link" href="/"><i class="fa fa-tumblr"></i></a>
        <a class="social-link" href="/"><i class="fa fa-twitter"></i></a>
        <a class="social-link" href="/"><i class="fa fa-linkedin"></i></a>
        <a class="social-link" href="/"><i class="fa fa-facebook"></i></a>
        <a class="contact-link" href="tel:+9131234567"><i class="fa fa-phone"></i>0438680913</a>
        <a class="contact-link" href="mailto:hamishstg@gmail.com"><i class="fa fa-envelope"></i> hamishstg@gmail.com</a>
    </header>

    <header class="main-header">
        <div class="logo-container">
            <p class="logo"><span>A Guide to Snorkelling in</span> <span>Rottnest</span></p>
        </div>
        <nav class="main-nav">
            <ul>
                <li><a href="~/Home/Index">Home</a></li>
                <li><a href="~/Home/About">About</a></li>
                <li><a href="~/Home/Beaches">Beaches and Routes</a></li>
            </ul>
        </nav>
    </header>

    <div id="viewDiv" class="viewDiv"></div>

</body>
